* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #fafafa;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 50px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 4rem;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  position: sticky;
  top: 0;
}

.navbar-img {
  display: flex;
  gap: 20px;
  align-items: center;
}

.navbar-links {
  display: flex;
  gap: 20px;
  align-items: center;
}

.navbar-links a {
  color: #3810e8;
  font-size: 1.5rem;
  font-weight: 500;
}

.active {
  text-decoration: underline;
}

.line {
  height: 1.5rem;
  border: 1px solid #000;
}
